@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600&display=swap");
@import './variables';
@import 'vuetify/styles/main.sass';
@import './override';
@import './layout/container';
@import './layout/sidebar';
@import './layout/topbar';
@import './components/VButtons';
@import './components/VCard';
@import './components/VInput';
@import './components/VNavigationDrawer';
@import './components/VShadow';
@import './components/VTextField';
@import './pages/dashboards';
@import './pages/authentication';
@import 'vue3-perfect-scrollbar/dist/vue3-perfect-scrollbar.css';


@font-face {
  font-family: 'THSarabunNew'; /* ชื่อที่เราจะใช้เรียกใน CSS */
  src: url('~/assets/fonts/THSarabunNew.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
};

@font-face {
  font-family: 'THSarabunNew';
  src: url('~/assets/fonts/THSarabunNew-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}