@font-face {
    font-family: 'THSarabunNew'; /* ชื่อที่เราจะใช้เรียกใน CSS */
    src: url('~/assets/fonts/THSarabunNew.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'THSarabunNew';
    src: url('~/assets/fonts/THSarabunNew-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


body{
    margin: 0;
    padding: 0;
    max-width: 100vw;
    font-family: 'THSarabunNew', Arial, sans-serif;
    font-size: 24px;
    font-weight:400;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

* {
    font-family: 'THSarabunNew', Arial, sans-serif;
    font-size: 24px;
}

.container{
    text-align: center;
    margin-top: 50px;
}

.layout-container {
    padding: 0;
    margin: 0;
    flex-direction: column;
}

header {
    flex-shrink: 0;
    top: 0;
    position: fixed;
    width: 100%;
}

footer {
    flex-shrink: 0;
    color: #555;
    padding: 5px 0;
    margin-top: auto;
}

nav {
    margin: 5px auto;
    color: black;
    padding: 3px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgb(14, 127, 172) , rgb(193, 210, 218));
    border: 0px solid;
    box-shadow: 0px 3px 8px #888888;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 12px;
    font-size: 0.8rem;
    padding: 10px
}

nav a:hover {
    color: coral;
}

.logo {
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
    margin-left: 10px;
    color: rgb(238, 231, 237);
    background: transparent;
}


.login-div{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: rgba(18, 134, 80, 1.0);
    backdrop-filter: blur(8px);
    z-index: 999;
}

.login-right{
    display: flex;
    padding: 20px;
    background-color: aliceblue;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 30px;
    box-shadow: none 0 0 10px #000000;
}

.login-img {
    width: 80%;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-right hr{
    margin-top: 15px;
    width: 98%;
    height: 1px;
    background-color: rgb(233, 15, 15);
    color: black;
}
.login-or{
    display: flex;
    font-size: 22px;
    font-weight: bold;
    color: gray;
    margin-top: -54px;
    background-color: white;
    z-index: 999;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
}
.button-provider{
    width: 90%;
    height: 70px;
    border-radius: 35px;
    border: rgb(142, 205, 142) 3px solid;
    background-color: rgb(255, 255, 255);
    color: green;
    font-size: 28px;
    font-weight: 900;
    cursor: pointer;
    box-shadow: none 0 0 10px #000000;
    margin-top: 20px;
}
.button-id{
    display: inline-flex;
    width: 80%;
    height: 60px;
    border-radius: 35px;
    background-color: rgb(36, 127, 36);
    color: white;
    font-size: 22px;
    cursor: pointer;
    box-shadow: none 0 0 0 #ece8e8;
    margin-top: 10px;
    text-decoration: none;
}   
.button-td{
    width: 70%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 50px;
    border: rgb(204, 206, 204) 3px solid;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 20px;    
    cursor: pointer;
    box-shadow: none 0 10px 10px #b7b6b6;
}

.login-span {
    padding: 0;
    margin: 0;
    color: rgb(23, 122, 89);
    font-size: 0.8rem;
    font-weight: 600;
}

.login-span2 {
    padding: 0;
    margin-top: -20px;
    margin-bottom: 20px;
    color: rgb(26, 99, 74);
    font-size: 0.9rem;
    font-weight: 600;
}


@media (max-width: 768px) {
    .login-left {
        display: none;
    }
    .login-right {
        width: 80vw;
        height: 80vh;
        border-radius: 0;
    }
}

